################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Debug
/.vs/CGLib/v14
/GraphicsTest/Debug/GraphicsTest
/Graphics/Debug
/Graphics/Release
/Graphics/x64
/GraphicsTest/Release
/GraphicsTest/x64/Debug
/Debug_x64
/GraphicsTest/x64/Release
/IO/Debug
/IO/Release
/IO/Win32
/IOTest/Debug
/IOTest/Release
/IO/x64
/IOTest/x64
/Math/Debug
/Math/Release
/Math/Win32/Release
/Math/x64
/x64
/MathTest/Debug
/MathTest/Release
/MathTest/x64
/Physics/Debug
/Physics/Release
/Physics/x64
/PhysicsTest/Debug
/PhysicsTest/Release
/PhysicsTest/x64
/Polygon/Debug
/Polygon/Release
/Polygon/x64
/PolygonTest/Debug
/PolygonTest/Release
/Sample/Debug
/Sample/Release
/Sample/x64
/Shader/Debug
/Release_x64
/Release
/PolygonTest/x64
/Shader/Release
/Shader/x64
/Shader/cube_NX.png
/Shader/cube_NY.png
/Shader/cube_NZ.png
/Shader/cube_PX.png
/Shader/cube_PY.png
/Shader/cube_PZ.png
/TestFile
/ThirdParty
/CGLib.VC.db
/CGLib.VC.VC.opendb
